nav {
    height: 200px;
}

/* box model */

h1 {
    border: 20px solid red;
    /* top,right,left,bottom sab ko value 50px */
    /* margin: 50px; */
    /* first => top,bottom = 100px, second => left,right = 100px*/
    /* margin: 100px 200px; */
    /* top, right, bottom, left */
    /* margin: 100px 200px 300px 400px; */

    /* top,right,left,bottom sab ko value 50px */
    /* padding: 50px; */
    /* padding: 100px 200px; */
    /* top, right, bottom, left */
    /* padding: 100px 200px 300px 400px; */
    /* height: 200px;
    width: 50px; */
    text-align: center;

}

p {
    border: 2px solid blue;
    padding: 20px;
    text-indent: 50px;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 2px;
    word-spacing: 10px;
}